.sidebar {
  position: sticky;
  top: 80px; /* Sticks the sidebar to the top of the viewport */
  height: 100vh; /* Ensures it spans the full height of the viewport */
  overflow-y: auto; /* Allows scrolling within the sidebar if content overflows */
  border-right: 1px solid #CECECE; /* Optional: Adds a subtle divider */
  background-color: #f8f9fa; /* Matches Bootstrap's light background */
  padding: 1rem;
}

.sidebar-link {
  color: #272635 !important;
  font-weight: 500 !important;
  text-decoration: none;
  padding: 0.5rem 0;
  display: block;
  transition: color 0.3s ease;
}

.sidebar-link:hover {
  color: #b1e5f2 !important; /* Highlight color on hover */
}

.card-img-top{
  height: 200px;
}

i{
  color: #272635;
}

.main-content{
  padding-top: 70px;
}